.TodoItem {
  padding: .5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  .title {
    width: 309px;
    flex-grow: 1;
    padding: 0 .5em;
  }
  .completed {
    text-decoration: line-through;
    color: #ccc;
  }
}
