.TodoItem {
  padding: .5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;

  .title-through{
    padding:0 273px 0 10px;
  }
  .title {
    width: 312px;
    flex-grow: 1;
    padding: 0 .5em;
  }
  .completed{
    text-decoration: line-through;
    color: #ccc;
  }
}
