.UserDialog-Wrapper {
  /*全屏*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.40);
  .UserDialog {
    border: 1px solid;
    border-radius: 4px;
    min-width: 32em;
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.35);
    .signInOrSignUp {

      .signUp{
        position: absolute;
        z-index: -1000;
        transition: all .5s;
      }
      .signIn{
        position: absolute;
        z-index: -1000;
        transition: all .5s;
      }
      span{
        margin-left: 160px;
      }
      & > nav:first-child {
        padding: 1em;
        margin-left: -2em;
      }
      & > nav:first-child label {
        margin-left: 2em;
        cursor: pointer;
      }

      .panes {
        padding: 0 1em 1em;
      }
    }
  }
}





